#c, #b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#b {
    background-image: url(images/levels.jpg);
    background-repeat: repeat-x;
    width: 1360px;
    height: 760px;
    z-index: -1;
}