@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

div,
p,
img,
input,
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p,
img,
input {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p,
input {
  font-family: "Press Start 2P", monospace;
  color: white;
}

body {
  background: black;
}

input:focus {
  outline: none;
}

.fullscreen {
  width: 1012px;
  height: 762px;
}

.hidden {
  display: none;
  opacity: 0%;
}

.btn {
  background: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  width: 420px;
  height: 60px;
  text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, 3px 1px 0 #000,
    -3px 3px 0 #000;
}

#background {
  width: 1008px;
  height: 758px;
  background-repeat: repeat-x;
  will-change: background-position-x, background-position-y;
  z-index: -1;
}

.bg-menu {
  background-image: url(images/backgrounds/menu.jpg);
}

.bg-athletic {
  background-image: url(images/backgrounds/athletic.jpg);
}

#screen-hud {
  top: calc(50% - 320px);
  left: calc(50% + 430px);
  border: 5px solid #5590cc;
  border-radius: 15px;
  padding: 10px;
  height: 45px;
}

#screen-hud__lives {
  height: 45px;
}

#screen-hud__lives-text {
  margin-left: 10px;
  align-self: center;
}

#menu-title {
  top: calc(50% - 190px);
}

#menu-mario {
  top: calc(50% + 20px);
}

#menu-hover {
  display: none;
  position: absolute;
  left: 283px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 28px solid #f73738;
}

#menu-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -31px;
  top: -18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 36px solid black;
}

#start-btn {
  top: calc(50% + 190px);
}

#sound-btn {
  top: calc(50% + 250px);
}

#fade {
  background-color: black;
  opacity: 0%;
}

#fade.fade-active {
  animation: fadein 1s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#start-btn:hover ~ #menu-hover {
  display: block;
  top: calc(50% + 173px);
}

#sound-btn:hover ~ #menu-hover {
  display: block;
  top: calc(50% + 234px);
}

#screen-failure > * {
  position: relative;
  top: 40%;
}

#screen-failure h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

#screen-failure button {
  font-size: 15px;
  background: none;
  border: none;
}

#screen-retry {
  background: black;
  padding: 20px;
}

#screen-retry h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

#screen-retry button {
  font-size: 15px;
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
}

#screen-outro {
  top: calc(50% - 50px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 1360px;
  height: 160px;
  padding: 15px;
}

#screen-outro h1 {
  font-size: 60px;
  color: yellow;
  margin-bottom: 10px;
}

#screen-outro p {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 920px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  background: black;
  padding: 10px;
}

#screen-outro p a {
  text-decoration: underline;
  color: white;
}

#text {
  font-size: 26px;
  color: yellow;
}

#screen-transition-iris {
  box-sizing: border-box;
  border: 0 solid black;
  pointer-events: none;
}

#screen-transition-fade {
  background-color: black;
  opacity: 0;
}

#tutorial-text {
  color: white;
  font-size: 24px;
  text-transform: none;
  text-align: justify;
  position: absolute;
  background: black;
  top: calc(50% - 343px);
  left: calc(50% + -110px);
  width: 576px;
  padding: 17px 24px;
  padding: 17px 24px 34px 24px;
  line-height: 31px;
}

#backdrop {
  z-index: -2;
}

#loader {
  width: 100vw;
  height: 100vh;
  background: black;
}

#loader div {
  background-image: url("images/graphics/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  top: calc(50% - 20px);
  z-index: 999;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
