@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

p, div, ul, li, h1, button {
    font-family: "Press Start 2P", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas,
#lives-screen,
#title-screen,
#fullscreen,
#audio + label,
#header,
#authors,
#start,
#over-screen,
#death-screen,
#end-screen,
#level-screen,
#level-text,
#pass-screen,
#iris-screen,
#background-1,
#background-2,
#load-screen,
#load-screen div,
#load-screen p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: black;
}

#title-screen,
#level-screen,
#over-screen,
#iris-screen,
#background-1,
#background-2 {
    width: 1360px;
    height: 760px;
}

#death-screen,
#level-screen,
#lives-screen,
#pass-screen,
#over-screen,
#end-screen,
#audio {
    display: none;
}

#death-screen,
#level-screen,
#background-2,
#over-screen,
#fullscreen {
    background: black;
}

#fullscreen {
    display: none;
    line-height: 24px;
    padding: 10px;
    width: 1360px;
    border-radius: 10px;
    top: calc(50% - 415px);
}

#lives-screen {
    top: calc(50% - 320px);
    left: calc(50% + 605px);
    border: 5px solid #5590cc;
    border-radius: 25px;
    padding: 10px;
}

#lives-screen img {
    height: 45px;
}

#lives-text {
    margin-left: 10px;
    align-self: center;
}

#header {    
    top: calc(50% - 190px);
}

#audio + label {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    top: calc(50% + 130px);
    left: calc(50% - 200px);
    /* padding: 25px; */
    border: 3px solid black;
    background-color: #f73738;
    background-image: url(images/sound-off.png);
    background-repeat: none;
    background-position: center;
}

#audio:checked + label {
    background-color: #04d8f7;
    background-image: url(images/sound-on.png);
}

#controls {
    position: absolute;
    pointer-events: none;
    left: calc(50% - 15px);
    top: calc(50% + 8px);
}

#diagram {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

#diagram ul,
#diagram div {
    align-self: center;
}

#diagram ul li,
#diagram div {
    color: darkslategray;
    font-size: 32px;
    background-color: lightgrey;
    border: 4px solid darkslategray;
    border-radius: 10px;
    margin: 0px 2px;
    padding: 10px 15px;
}

#diagram div {
    margin-bottom: 3px;    
    width: 62px;
    margin-left: -67px;
}

#diagram ul {
    display: flex;
    list-style: none;
}

#label-bottom,
#label-top {
    position: relative;
    color: black;
    font-size: 12px;    
}

#label-top {
    top: -182px;
    margin-left: -69px;
}

#label-bottom {
    top: -18px;
    word-spacing: 2px;
}

#start {
    color: black;
    font-size: 32px;
    top: calc(50% + 240px);
}

#authors {
    width: 700px;
    font-size: 12px;
    color: black;
    top: calc(50% + -60px);
}

#authors a {
    color: black;
}

#over-screen > * {
   position: relative;
   top: 40%;
}

#over-screen h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

#over-screen button {
    font-size: 15px;
    background: none;
    border: none;
}

#death-screen {
    background: black;
    padding: 20px;
}
    
#death-screen h1 {
    font-size: 42px;
    margin-bottom: 10px;
}
  
#death-screen button {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
}

#end-screen {
    top: calc(50% - 50px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 1360px;
    height: 160px;
    padding: 15px;
}
  
#end-screen h1 {
    font-size: 40px;
    color: yellow;
}
  
#end-screen h2 {
    color: yellow;
    margin-bottom: 20px;
    font-size: 27.5px;
}
  
#end-screen p {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background: black;
    padding: 10px;
    border-radius: 30px;
}
  
#end-screen p a {
    text-decoration: underline;
    color: white;
}


#level-text,
#pass-screen {
    font-size: 26px;
    color: yellow;
}

#pass-screen {
    top: calc(50% - 100px);
}
 
#iris-screen {
    box-sizing: border-box;
    border: 0 solid black;
    pointer-events: none;
}

#background-1 {
    background-image: url(images/levels.jpg);
    background-repeat: repeat-x;
    will-change: background-position-x, background-position-y;
    z-index: -1;
}

#background-2 {
    z-index: -2;
}

#load-screen {
    width: 100vw;
    height: 100vh;
    background: black;
}

#load-screen div {   
    background-image: url("images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    top: calc(50% - 120px);
    z-index: 999;
}

#load-screen p {
    font-family: monospace;
    font-size: 24px;
    top: calc(50% + 120px);
}
  
@keyframes fadein {
    from {opacity: 0};
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media (min-width: 1440px) and (min-height: 900px) {
    #fullscreen {display: block;}    
}